form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  /* float: right; */
  margin-top: 10px;
}

.form-group {

  /* margin-left: 40px;
  margin-right: 40px; */

}

h3 {
  font-weight: bold;
}

.form-control {
  height: 50px;
  font-size: 20px;
}
