header {
    height: 220px;
    /* width: 100%; */
    font-weight: bolder;
    font-size: 100em;
    color: rgb(228, 100, 100);
    background-color: rgb(75, 75, 223);
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

;
/* .header-text {

    margin: 10px;

} */